# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Xcode
DerivedData/
*.xcuserdata/
xcuserdata/
*.xcworkspace/xcshareddata/
*.xcuserstate
*.xcresult/

# Xcode project workspace settings
project.xcworkspace/xcshareddata/

# Swift build artifacts
Package.resolved

# Test report files
