# macOS
.DS_Store

# Xcode
DerivedData/
*.xcuserdata/
xcuserdata/
*.xcworkspace/xcshareddata/
*.xcuserstate
*.xcresult/

# Xcode project workspace settings
project.xcworkspace/xcshareddata/

# Test report files
